/*   Fonts   */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #101010;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #101010;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #f70001;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.picture {
    display: flex;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    height: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    display: flex;
    width: 146rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.h2-headline {
    margin: -.3em 0;
    font: 700 3rem / 1.4 'Nunito Sans', sans-serif;
    text-align: center;
    text-transform: capitalize;
}

.p-text {
    margin-top: 2rem;
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #606060;
}

.text-center {
    text-align: center;
    align-self: center;
}

.display-none {
    display: none;
}

.m-0 {
    margin: 0;
}

.link-01 {
    position: relative;
    display: inline-block;
    font: 600 1.8rem / .8 'Nunito Sans', sans-serif;
    color: #f70001;
    transition: all .3s ease-out;
}

.link-01:hover {
    color: #d10001 !important;
}

.link-01:after {
    content: '';
    position: absolute;
    bottom: -.3em;
    left: 0;
    height: .1rem;
    width: 100%;
    background: #f70001;
    transition: all .3s ease-out;
}

.link-01:hover:after {
    background: #d10001 !important;
}

.button {
    position: relative;
    display: flex;
    height: 4.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    color: #fff;
    transition: all .3s ease-out;
}

.button__icon {
    display: flex !important;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    background: #101010;
    fill: #fff;
}

.button__icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #f70001;
    transition: all .3s ease-out;
}

.button__pic {
    z-index: 2;
    display: flex;
    height: 40%;
    width: 40%;
}

.button__text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    background: #f70001;
    font: 700 1.5rem / 1 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.button__text_data {
    z-index: 2;
}

.button__text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #101010;
    transition: all .3s ease-out;
}

.button:hover .button__icon:before {
    width: 100%;
}

.button:hover .button__text:before {
    width: 100%;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    height: 10rem;
    box-shadow: .5rem .5rem 2rem rgba(0,0,0,.025);
    background: #fff;
}

.header__container {
    justify-content: space-between;
    height: 100%;
}

.logo__headline {
    display: flex;
    align-items: center;
}

.logo__link {
    display: flex;
    height: 5rem !important;
}

.logo__image {
    height: 100%;
    font: 700 2rem / 2.5 'Nunito Sans', sans-serif;
}

.header__nav {
    display: flex;
}

.header__menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__menu_item {
    position: relative;
    z-index: 2;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 5rem;
}

.header__menu_item:last-of-type {
    margin-left: 2.5rem;
}

.header__menu_link {
    position: relative;
    font: 700 1.4rem / 1.5 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    transition: all .3s ease-out;
}

.header__menu_link:before {
    content: '';
    position: absolute;
    top: -4rem;
    right: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    margin: auto;
    background: #f70001;
    opacity: 0;
    transition: all .3s ease-out;
}

.header__menu_link:hover:before {
    top: -2rem;
    opacity: 1;
}

.header__menu_link:hover {
    color: #f70001;
}

.header__menu_link-active {
    color: #f70001;
}

.header__menu_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 0 2.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font: 700 1.4rem / 1.5 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
}

.header__menu_button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.header__menu_button:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}

.header__button_black:before {
    background: #101010;
}

.header__button_black:after {
    background: #f70001;
}

.header__menu_button:hover:after {
    left: 0;
}

.header__button_red:before {
    background: #f70001;
}

.header__button_red:after {
    background: #101010;
}

.main {
    padding-top: 10rem;
}

/*   Page Top   */

.page-top {
    display: flex;
    min-height: calc(100vh - 10rem);
    background: #f7f7f7;
    overflow: hidden;
}

.page-top__container {
    padding: 10rem 3rem;
}

.page-top__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page-top__bg_item {
    position: absolute;
    height: 20rem;
    width: 20rem;
}

/*   Form   */

.form {
    display: flex;
    flex-direction: column;
}

.form__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 5rem 5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.05);
    background: #e0e0e0;
}

.form__item {
    width: 100%;
    margin-top: 3rem;
}

.form__item-1-2 {
    width: calc(100% / 2 - 1.5rem);
}

.form__legend {
    font: 600 1.8rem / .8 'Nunito Sans', sans-serif;
    text-transform: capitalize;
}

.form__item_field {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    background: #fff;
}

.form__input {
    height: 4.5rem;
    width: 100%;
    padding: 0 1.5rem 0 4.5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.05);
    border: .2rem solid transparent;
    font: 400 1.6rem / 1.5 'Nunito Sans', sans-serif;
    transition: all .3s ease-out;
}

.form__input::-webkit-input-placeholder {
    color: #707070;
}

.form__input::-moz-placeholder {
    color: #707070;
    opacity: 1;
}

.form__input:-ms-input-placeholder {
    color: #707070;
}

.form__input:hover {
    border-color: #101010;
}

.form__input:focus {
    border-color: #f70001;
}

.form__textarea {
    height: 13.5rem;
    padding-top: 1rem;
    resize: none;
}

.form__select {
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.form__item_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.5rem;
    width: 4.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.form__item_pic {
    height: 45%;
    width: 45%;
    fill: #f70001;
}

.form__select_image {
    position: absolute;
    top: 0;
    right: 0;
    height: 4.5rem;
    width: 4.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.form__select_image .form__item_pic {
    display: flex !important;
    height: 30%;
    width: 30%;
}

/*   Responsive   */

@media screen and (max-width : 1440px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 10px;
    }
}

@media screen and (max-width : 832px) {
    
    html {
        font-size: 10px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 10px;
    }
    
    .header__nav {
        align-items: center;
    }
    
    .header__nav_label {
        position: relative;
        display: flex !important;
        height: 4rem;
        width: 4rem;
    }
    
    .header__nav_button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        fill: #101010;
        cursor: pointer;
        transition: all .3s ease-out;
    }
    
    .header__nav_button:hover {
        fill: #F70001;
    }
    
    .header__nav_close {
        z-index: 0;
        opacity: 0;
    }
    
    input:checked + .header__nav_label .header__nav_open {
        z-index: 0;
        opacity: 0;
    }
    
    input:checked + .header__nav_label .header__nav_close {
        z-index: 1;
        opacity: 1;
    }
    
    .header__menu {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        height: 0;
        padding: 0;
        background: #fff;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: transform .3s ease-out, height .3s ease-out;
    }
    
    input:checked + label + .header__menu {
        height: auto;
        margin-top: .5rem;
        padding: 0 5rem 5rem;
        transform: scaleY(1);
        box-shadow: .5rem .5rem 2rem rgba(0,0,0,.025);
    }
    
    .header__menu_item:nth-child(n) {
        margin: 3rem 0 0;
        width: 100%;
    }
    
    .header__menu_link {
        display: none;
        justify-content: center;
        width: 100%;
        font-size: 2.5rem;
    }
    
    .header__menu_link:before {
        top: 0;
        right: 100%;
        bottom: 0;
        left: -4rem;
        margin: auto;
    }
    
    .header__menu_link:hover:before {
        top: 0;
        right: 100%;
        bottom: 0;
        left: -1rem;
        margin: auto;
    }
    
    .header__menu_button {
        display: none;
        height: 5rem;
        font-size: 2.5rem;
    }
    
    input:checked + label + .header__menu .header__menu_link,
    input:checked + label + .header__menu .header__menu_button {
        display: flex;
    }
}

@media screen and (max-width : 668px) {
   
    html {
        font-size: 7.5px;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 6px;
    }
}

@media screen and (max-width : 380px) {
   
    html {
        font-size: 6px;
    }
}

@media screen and (max-width : 360px) {
   
    html {
        font-size: 5.5px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 4.75px;
    }
}